beautifulsoup4==4.12.2
black==23.11.0
canvasapi==3.2.0
filelock==3.13.1
GitPython==3.1.7
isort==4.3.21
Jinja2==3.1.2
mosspy==1.0.9
psutil==5.7.2
pylint==3.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2020.1
requests==2.32.3
setuptools==75.2.0
shortuuid==1.0.13
urllib3==2.2.3
websockets==13.1
